@using Newtonsoft.Json
@model ReversiMvcApp.Models.Spel

@{
    ViewData["Title"] = $"Spel tegen {User.Identity.Name}";

    string spelToken = (string)ViewData["spelId"];
    string spelerToken = (string)ViewData["spelerId"];
}

<body>
    <script src="~/js/app.js"></script>

    <div id="spelerKleur" class="player-color-text">
    </div>
    <div id="beurt" class="player-turn-text">
    </div>

    <div class="row game-bg">
        <div class="col" id="buttons">
            <form asp-action="GeefOp" asp-route-spelerToken="@spelerToken" method="post">
            <button class="btn btn-danger">Geef op</button>
            </form>
        <div class="game-stats"></div>
        </div>
        <div class="col">
            <div class="game-board"></div>
        </div>
    </div>

    <div class="cat-facts typed"></div>

    <canvas id="myChart"></canvas>

    <script type="text/javascript">
        $(document).ready(function() {
            Game.init("@spelToken", "@spelerToken");
        });
    </script>

</body>

