@using Microsoft.AspNetCore.Identity
@using System.Net
@model Speler

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom  @User.Identity.Name!</h1>
    <form asp-controller="Spel" asp-action="Index">
        <button class="btn btn-primary">Zoek voor Spellen</button>
    </form>
</div>
@if (User.Identity.Name != null)
{
    <div class="row">
        <div class="col-md-10">
            <h2>Overzicht van jouw Reversi skills:</h2>
            <p>[@Model?.AantalGewonnen] Reversi Gewonnen</p>
            <p>[@Model?.AantalGelijk] Reversi Gelijkspel</p>
            <p>[@Model?.AantalVerloren] Reversi Verloren</p>
        </div>
    </div>
}
